<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C07DA0A1E612AB100477D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C07DA1E1E612AB400477D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C07DA291E612AB400477D9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
